
# pixi environments
.pixi
*.egg-info

# MacOS
.DS_Store

# VS Code + Zed + Helix ...
.vscode
.zed
.helix

# kgen trace
kgen.trace.*

# Packages
*.mojopkg
*.mojoc

# Precompiled dependencies fetched or built by tools/ensure_decimo.sh
temp/

# Local files
local
/test*.mojo
/temp*.mojo